# required
export \
    MQTT_BROKER_IP= \
    VIVINT_KEYS= \
    WIFI_PASS= \
    WIFI_SSID=

# optional
dev=$(find /dev -maxdepth 1 -name 'tty.usbmodem*' -print -quit)
export \
	ESPFLASH_PORT=${dev} \
    ESP_LOG= \
    HA_DISCOVERY= \
    HA_DISCOVERY_PREFIX= \
    MQTT_BROKER_PORT= \
    MQTT_CLIENT_ID= \
    MQTT_NODE_ID= \
    MQTT_PASS= \
    MQTT_TOPIC_PREFIX= \
    MQTT_USER=
